body {
  font-family: 'Trebuchet MS';
  background-color: #e6f3ff;
  color: #47A0FF;
  z-index:-1;
  width: 1000px
  height:750px
}

.header {
  background-color: rgb(240, 247, 255);
  border-radius: 10px;
  text-align: center;
  width: 400px;
  height:80px;
  margin: auto;
  padding: 1px;
  border-color: #A1CDFF;
  border-style: outset inset;
  border-width: 4px;
  color: #4da6ff;
  transition-duration: 0.2s;
  cursor:default;
}

.header:hover{
  transform:scale(1.05);
}

.textbox{
  border-style: outset inset;
  border-width: 4px;
  color: #b3b3ff ;
  border-color: #9999ff;
  background-color:#f3f3ff;
  position: absolute;
  right: 50px;
  top:  145px;
  width: 200px;
  height: 250px;
  text-align: center;
  padding: 5px;
}

#recsbox{
  border-color: #99ff99;
  background-color: #f4fff4;
  color: #01e400;
}

#stuffbox {
  border-color: #ffb3ff;
  background-color: #fff3ff;
  color: #ff99ff;
}

#aboutmeheader{
  border-color: #9999ff;
  color: #b3b3ff;
  background-color: #f3f3ff;
  margin-top: 10px;
}

#gameheader {
  margin-top: 10px;
  background-color: #f4fff4;
  border-color: #99ff99;
  color: #01e400;
}

#mystuffheader {
  margin-top:10px;
  background-color: #fff3ff;
  border-color: #ffb3ff;
  color: #ff99ff;
}

.myimage {
  width:150px;
  height: 200px;
  position: absolute;
  left: 35px;
  top: 200px;
  border-style: outset inset;
  border-width:5px;
  border-color:#9999ff;
}

#glaceonimage {
  left: 40px;
  border-color: rgb(153,202,255);
}

#leafeonimage {
  border-color: #99ff99;
}

#sylveonimage {
  border-color:#ffb3ff;
}

.mybutton1{
  background-color: rgb(240, 247, 255);
  border-style: outset inset;
  border-color: rgb(153, 202, 255);
  border-width:3px;
  width: 107px;
  height: 25px;
  transform:scale(1.5);
  margin-left: 60px;
  margin-top: 50px;
  color: #4da6ff;
  transition-duration:0.2s;
  cursor:pointer;
  border-radius:2px;
}

.mybutton1:hover{
  transform:scale(1.6);
  box-shadow: 4px 4px;
}
#backtomain1 {
  width:110px;
  border-color:#9999ff;
  background-color:#f3f3ff;
  color: #b3b3ff;
  margin-left: 60px;
}

#backtomain2 {
  width:110px;
  color: #01e400;
  background-color:#f4fff4;
  border-color:#99ff99;
}

#backtomain3 {
  width:110px;
  color: #ff99ff;
  border-color: #ffb3ff;
  background-color: #fff3ff;
}

#gamebutton {
  width: 150px;
  position: absolute;
  right:80px;
}

#mystuffbutton {
  width:150px;
  position: absolute;
  right: 80px;
  top: 157px;
}

.overlay{
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  display:none;
  width:100%;
  height:100%;
  transition-duration:0.2s;
  background-color:#ccccff;
  z-index:1;
}

#overlay2 {
  background-color: #e6ffe6;
}

#overlay3 {
  background-color: #ffe6ff;
}

@keyframes fadein{
  0%{bottom: 1000}
  100%{bottom:0}
}

@keyframes fadeout{
  0%{bottom:0;}
  100%{bottom:1000;}
}
